<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=clock-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title></title>
	</head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
	<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
	<body>
		<div class="container" id="app">
			<!-- 面板 -->
			<div>
				<h1>欢迎使用草莓架控制系统！</h1>
				<!-- 友链 -->
				<div class="card mb-3">
					<h2 class="card-header">定时任务</h2>
					<div class="card-body">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">id</th>
									<th scope="col">名称</th>
									<th scope="col">开始时间</th>
									<th scope="col">水量</th>
									<th scope="col">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(clock,id) in clocks.list">
									<th style="vertical-align: middle;">{{id+1}}</th>
									<td>
										<input type="text" class="form-control" v-model="clock.name">
									</td>
									<td>
										<input type="time" class="form-control" v-model="clock.start">
									</td>
									<td style="white-space: nowrap;">
										<input type="text" class="form-control" v-model="clock.end" style="display: inline !important;width: calc(100% - 42px);">
										升
									</td>
									<td>
										<div class="btn-group">
											<button class="btn btn-outline-secondary" type="button" @click="remove('clocks',id)" :disabled="disabled.remove.clocks">
												<i class="bi bi-trash"></i>
											</button>
											<button class="btn btn-outline-secondary" type="button" @click="update('clocks')" :disabled="disabled.update.clocks">
												<i class="bi bi-check-lg"></i>
											</button>
										</div>
									</td>
								</tr>
								<tr>
									<th style="vertical-align: middle;">#</th>
									<td>
										<input type="text" :class="{'form-control':true,'is-invalid':invalid.push.clocks}" v-model="clocks.push.name">
									</td>
									<td>
										<input type="time" :class="{'form-control':true,'is-invalid':invalid.push.clocks}" v-model="clocks.push.start">
									</td>
									<td style="white-space: nowrap;">
										<input type="number" :class="{'form-control':true,'is-invalid':invalid.push.clocks}" v-model="clocks.push.end" style="display: inline !important;width: calc(100% - 42px);">
										升
									</td>
									<td>
										<div class="btn-group">
											<button class="btn btn-outline-secondary" type="button" @click="push('clocks')" :disabled="disabled.push.clocks">
												<i class="bi bi-plus-lg"></i>
											</button>
											<button class="btn btn-outline-secondary" type="button" @click="list('clocks')" :disabled="disabled.list.clocks">
												<i class="bi bi-arrow-clockwise"></i>
											</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
			const clientId = 'mqttjs_' + Math.random().toString(16).substr(2, 8)

			const host = 'ws://broker.galasp.cn:8083'

			console.log('Connecting mqtt client')
			const client = mqtt.connect(host, {
				keepalive: 60,
				clientId: clientId,
				protocolId: 'MQTT',
				protocolVersion: 4,
				clean: true,
				reconnectPeriod: 1000,
				connectTimeout: 30 * 1000,
				will: {
					topic: 'WillMsg',
					payload: 'Connection Closed abnormally..!',
					qos: 0,
					retain: false
				},
			})

			client.on('error', (err) => {
				console.log('Connection error: ', err)
				client.end()
			})

			client.on('reconnect', () => {
				console.log('Reconnecting...')
			})
			client.on('connect', () => {
				console.log('Client connected:' + clientId)
				// Subscribe
				client.subscribe('to-admin', {
					qos: 0
				})
			})
		</script>
		<script type="text/javascript">
			let app = new Vue({
				el: "#app",
				data: {
					token: null,
					invalid: {
						mail: false,
						code: false,
						password: false,
						push: {
							clocks: false
						}
					},
					disabled: {
						check: false,
						sign: false,
						list: {
							clocks: false
						},
						push: {
							clocks: false
						},
						remove: {
							clocks: false
						},
						update: {
							clocks: false
						}
					},
					login: {
						checked: false,
						id: null,
						mail: null,
						verify: false,
						code: null,
						password: null
					},
					clocks: {
						list: [{
							id: 1,
							name: "早晨",
							start: "08:00",
							end: "10",
							way: "m"
						}],
						push: {
							name: null,
							start: null,
							end: null,
							way: null
						}
					}
				},
				methods: {
					check: function() {
						this.disabled.check = true
						this.invalid.mail = false
						fetch("https://api.galasp.cn/users/check?" + new URLSearchParams(this.login))
							.then(r => {
								this.disabled.check = false
								switch (r.status) {
									case 201:
										this.login.verify = false
										break
									case 200:
										this.login.verify = true
										break
									case 403:
										this.invalid.mail = true
										return
								}
								r.text().then(id => {
									this.login.id = id
									this.login.checked = true
								})
							})
					},
					sign: function() {
						this.disabled.sign = true
						this.invalid.code = false
						this.invalid.password = false
						let api = "https://api.galasp.cn/users/sign?"
						if (!this.login.verify) {
							//没验证
							api = "https://api.galasp.cn/users/verify?"
						}
						fetch(api + new URLSearchParams(this.login))
							.then(r => {
								this.disabled.sign = false
								if (r.status == 200) {
									r.text()
										.then(token => {
											this.token = token
											sessionStorage.setItem("token", token)
											this.load()
										})
								} else {
									this.invalid.code = !this.login.verify
									this.invalid.password = true && this.login.verify
								}
							})

					},
					load: function() {
						this.list("clocks")
					},
					list: function(item) {
						this.disabled.list[item] = true
						// this[item].list = 

						client.publish('from-admin', 'list', {
							qos: 0,
							retain: false
						})
						this.disabled.list[item] = false
					},
					push: function(item) {
						//开始前
						this.invalid.push[item] = false
						this.disabled.push[item] = true
						//结束后
						this[item].list.push(JSON.parse(JSON.stringify(this[item].push)))
						Object.keys(this[item].push).forEach(k => {
							this[item].push[k] = null
						})
						this.update('clocks')
						this.disabled.push[item] = false
					},
					remove: function(item, id) {
						this.disabled.remove[item] = true
						this[item].list.splice(id, 1)
						this.update('clocks')
						this.disabled.remove[item] = false
					},
					update: function(item, id) {
						this.disabled.update[item] = true
						client.publish('from-admin', 'update,' + JSON.stringify(this[item].list), {
							qos: 0,
							retain: false
						})
						this.disabled.update[item] = false
					}
				},
				created: function() {
					this.list("clocks")
					client.on('message', (topic, message, packet) => {
						console.log(message.toString())
						let msg = message.toString()
						this.clocks.list = JSON.parse(msg)
					})
				}
			})
		</script>

	</body>
</html>
